In [12]:
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [13]:
#loading the csv file
medical_data_csv = "/Users/matthewflanagan/Desktop/Data Analytics Work/Project 4/Resources/data01.csv"

In [14]:
#reading the csv file
medical_data_df = pd.read_csv(medical_data_csv)

In [15]:
# checking df shape
medical_data_df.shape

(1177, 51)

In [16]:
#cleaning the data
#it only dropped one row
medical_data_df.dropna(subset=['outcome'], inplace=True)

In [17]:
#creating the lab variable df

lab_variables_df = medical_data_df[['ID', 'outcome', 'Urine output', 'hematocrit', 'RBC', 'MCH', 'MCHC', 'MCV', 'RDW', 'Blood potassium', 'glucose', 'Urea nitrogen', 'Creatinine',
                                    'Creatine kinase', 'NT-proBNP', 'INR', 'PT', 'Leucocyte', 'Lymphocyte', 'Basophils', 'Neutrophils',
                                    'Platelets', 'Blood sodium', 'Blood calcium', 'Chloride',
                                     'Anion gap', 'Magnesium ion', 'PH', 'Bicarbonate',
                                     'Lactic acid', 'PCO2', 'EF']]

lab_variables_df.head()

,ID,outcome,Urine output,hematocrit,RBC,MCH,MCHC,MCV,RDW,Blood potassium,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,125047,0.0,2155.0,26.272727,2.960000,28.250000,31.520000,89.900,16.220000,4.816667,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55
1,139812,0.0,1425.0,30.780000,3.138000,31.060000,31.660000,98.200,14.260000,4.450000,...,138.888889,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55
2,109787,0.0,2425.0,27.700000,2.620000,34.320000,31.300000,109.800,23.820000,5.825000,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35
3,130587,0.0,8760.0,36.637500,4.277500,26.062500,30.412500,85.625,17.037500,4.386667,...,138.500000,9.476923,92.071429,12.357143,1.942857,7.370,38.571429,0.6,75.0,55
4,138290,0.0,4455.0,29.933333,3.286667,30.666667,33.666667,91.000,16.266667,4.783333,...,136.666667,8.733333,104.500000,15.166667,1.650000,7.250,22.000000,0.6,50.0,55

In [18]:
# creating the vital signs df
vital_signs_df = medical_data_df[['ID', 'outcome', 'heart rate', 'Systolic blood pressure', 'Diastolic blood pressure', 'Respiratory rate',
                                  'temperature', 'SP O2']]


vital_signs_df.head()

,ID,outcome,heart rate,Systolic blood pressure,Diastolic blood pressure,Respiratory rate,temperature,SP O2
0,125047,0.0,68.837838,155.866667,68.333333,16.621622,36.714286,98.394737
1,139812,0.0,101.370370,140.000000,65.000000,20.851852,36.682540,96.923077
2,109787,0.0,72.318182,135.333333,61.375000,23.640000,36.453704,95.291667
3,130587,0.0,94.500000,126.400000,73.200000,21.857143,36.287037,93.846154
4,138290,0.0,67.920000,156.560000,58.120000,21.360000,36.761905,99.280000

In [19]:
#creating the co-morbidities df

comorbidities_df = medical_data_df[['ID', 'outcome', 'BMI', 'hypertensive', 'atrialfibrillation', 'CHD with no MI', 'diabetes', 'deficiencyanemias',
                                    'depression', 'Hyperlipemia', 'Renal failure', 'COPD']]

comorbidities_df.head()

,ID,outcome,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,deficiencyanemias,depression,Hyperlipemia,Renal failure,COPD
0,125047,0.0,37.588179,0,0,0,1,1,0,1,1,0
1,139812,0.0,NaN,0,0,0,0,1,0,0,0,1
2,109787,0.0,26.572634,0,0,0,0,1,0,0,1,0
3,130587,0.0,83.264629,0,0,0,0,0,0,0,0,0
4,138290,0.0,31.824842,1,0,0,0,1,0,0,1,1

In [21]:
#creating patient info df
patient_info_df = medical_data_df[['ID', 'group', 'outcome', 'age', 'gendera']]

patient_info_df.head()

       ID  group  outcome  age  gendera
0  125047      1      0.0   72        1
1  139812      1      0.0   75        2
2  109787      1      0.0   83        2
3  130587      1      0.0   43        2
4  138290      1      0.0   75        2

In [ ]:
# Export DataFrame to a CSV file named 'database.XXXXX.csv'
patient_info_df.to_csv('database_patient_info.csv', index=False)
comorbidities_df.to_csv('database_comorbidities.csv', index=False)  
vital_signs_df.to_csv('database.vital_signs.csv', index=False)
lab_variables_df.to_csv('database.lab_variables.csv', index=False)
medical_data_df.to_csv('database.medical_data.csv', index=False)

In [ ]:
# Splitting into Train and Test sets

In [ ]:
# Create the StandardScaler instance

In [ ]:
# Fit the Standard Scaler with the training data

In [ ]:
# Transform the testing data using the scaler

In [ ]:
# Scale the training data

In [ ]:
# Fit the model

In [ ]:
# Making predictions using the testing data

In [ ]:
# Calculating the confusion matrix

# Calculating the accuracy score

In [ ]:
# Displaying results